@font-face {
  font-family: 'Minipax';
  src: url('fonts/Minipax/Minipax-Regular.woff') format('woff');
}

@font-face {
  font-family: 'VG5000';
  src: url('fonts/VG5000/VG5000-Regular_web.woff') format('woff');
}

@font-face {
  font-family: 'Menlo';
  src: url('Menlo-Regular.woff') format('woff');
}


html{

width: 100%;
height: 100%;

  /* background-image: url("spiderweb.jpg");
  background-size: 200%;
  background-position: center;

} */}


p{


  text-align: center;
  align: center;
  font-family: Menlo;
  font-size: 20px;
  margin-top: 2em;
  letter-spacing: 2px;

}

span:hover{

background-color: yellow;
color: black;


}

a {

color: black;
text-decoration: none;
}

.container
{
display: flex;
justify-content: space between;
flex-wrap: wrap; /*added - this tells Flex to wrap onto a new line, if there is no space. */
}

.column
{
display: inline block;
padding: 0.5em;
display: block;
width: 32%;
}

/* added - these are not needed, but make it look nicer */
.column img {
  display: block; /* removes the spacing underneath the image */
  width: 100%; /* sets the width to the parents width */
  height: 100%; /* set the height to the parents height */
  object-fit: contain; /* prevents image from stretching */
  margin-top: 0px;
}

blockquote{

  margin-bottom: 0px;

}

.gohome {
  width: 200px;
  object-fit: scale-down;
  margin-bottom: 0px;
}

#content, html, body {
    height: 98%;
}
#left {
    float: left;
    width: 50%;
    background-image: linear-gradient(white, LavenderBlush);
    height: 100%;
    overflow: scroll;
    text-align: left;
}

#right {
    float: left;
    width: 50%;
 background-image: linear-gradient(white, AliceBlue);
    height: 100%;
    overflow: scroll;
    text-align: left;
}

#muppet{
  
  font-size: 12px;
  padding: 10px;
}


/* div{

  text-align: center;
  font-size: 20px;


} */

/* div:hover {
  animation:  shake 1s  ;
  text-align: center;
  margin-left: 8em;


} */

 

/* .Network {

  font-family: Minipax;
  font-size: 15px;
  color: black;
  margin-top: -385px;
  margin-left: 200px;
}


.DIY {

  font-family: Minipax;
  font-size: 15px;
  color: black;
  margin-top: 180px;
  margin-left: 925px;

}

.Stockists{

  font-family: Minipax;
  font-size: 15px;
  color: black;
  margin-top: -225px;
  margin-left: 250px;
}

.About {

  font-family: Minipax;
  font-size: 15px;
  color: black;
  margin-top: 130px;
  margin-left: 850px;
}

.Gallery {

  font-family: Minipax;
  font-size: 15px;
  color: black;
  margin-top: -200px;
  margin-left: 565px;

}

.SkateorDye {

  font-family: Minipax;
  font-size: 16px;
  color: black;
  margin-top: -700px ;
  margin-left:;

}





body{

font-size: 15px;

}

.welcoming_words {


text-align: center;
align: center;
font-family: Minipax;
margin-left: 0px;
margin-right: 0px;
max-width: 500px;
min-width: 450px;
background-color: white;
box-shadow: 5px 10px black;
margin-top: 10px;
display: inline-table;

} */

/* #homepage {

background-image: url("spiderweb.jpg");
background-size: 2500px;
background-position: center;
opacity: 100%; */


}
